language: python

before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install -U flake8
  - pip install -U pytest-cov
  - pip install codecov

install:
  - pip install -e .

script:
  - pytest --cov=./
  - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then flake8 --config=.flake8 implicit_globals.py; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then flake8 --config=.flake8-tests test_implicit_globals.py; fi

after_success:
  - bash <(curl -s https://codecov.io/bash)

matrix:
  fast_finish: true
  include:
    - python: 3.6
    - python: 3.7
    - python: 3.8
